[*.cs]

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
